# task
#### corpus = ["this is a sentence is","this is another sentence","third document is here"]
#### result = ['another', 'document', 'here', 'is', 'sentence', 'third', 'this']
#### vocab = {0: 'another',1: 'document',2: 'here',3: 'is',4: 'sentence',5: 'third',6: 'this'}

In [47]:
corpus = ["this is a sentence is","this is another sentence","third document is here"]
result = []
vocab = {}
for sent in corpus:
    for word in sent.split():
        if word not in result and len(word)>1:
            result.append(word)
result = sorted(result)
for index in range(len(result)):
    vocab[index] = result[index]

- <a href='#Vectorization'>Vectorization</a>
    - <a href='#Count Vectorization'>1.1.  Count Vectorization</a>
    - <a href='#N-Grams Vectorization'>1.2.  N-Grams Vectorization</a>
    - <a href='#TF-IDF Vectorization'>1.3.  TF-IDF Vectorization</a>

<a id='Vectorization'></a>
# Vectorization
- Vectorization : process of encoding text as integers to create feature vecors
- Feature vector : vector of numerical features that represent an object
- Types Of Vecorization (count vectorization - Ngrams - TFIDF)
count vectorization  == count unique words occure in the sentence how many times!!

# Bag of words ( Count Vecorization )

- Count the occurrences of words in the corpus.

In [55]:
# create a document term matrix
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
vectorizer = CountVectorizer()

###### apply on a simple corpus

In [57]:
corpus = ["this is a sentence is",
          "this is another sentence",
          "third document is here"]

X = vectorizer.fit(corpus)

In [63]:
print(X.vocabulary_) # automatically remove any one character word like a
print(vectorizer.get_feature_names_out()) # unique words in corpus

{'this': 6, 'is': 3, 'sentence': 4, 'another': 0, 'third': 5, 'document': 1, 'here': 2}
['another' 'document' 'here' 'is' 'sentence' 'third' 'this']

In [67]:
X = vectorizer.transform(corpus) # create a document term matrix
print(X.shape)
print(X.toarray()) #document term matrix

(3, 7)
[[0 0 0 2 1 0 1]
 [1 0 0 1 1 0 1]
 [0 1 1 1 0 1 0]]

In [73]:
columns = vectorizer.get_feature_names_out()
pd.DataFrame(X.toarray(), columns=columns, index=corpus)

                          another  document  here  is  sentence  third  this
this is a sentence is           0         0     0   2         1      0     1
this is another sentence        1         0     0   1         1      0     1
third document is here          0         1     1   1         0      1     0

# Example 2:
- How many unique words are in this text?
- What shape(x,y) will the data frame be created in?  **try it**..

In [77]:
texts = [ 'the red dog',
         'cat eats dog', 
         'dog eats food',
         'red cat eats',
         'the hot dog']

In [91]:
vectorizer = CountVectorizer(stop_words='english')
vectorizer.fit(texts)
x = vectorizer.transform(texts)
columns = vectorizer.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=texts)

               cat  dog  eats  food  hot  red
the red dog      0    1     0     0    0    1
cat eats dog     1    1     1     0    0    0
dog eats food    0    1     1     1    0    0
red cat eats     1    0     1     0    0    1
the hot dog      0    1     0     0    1    0

<a id='N-Grams Vectorization'></a>
# 2- N-Grams Vecorization

N-Grams is a way we can use to count for the context in the text, the bigger n-gram range the bigger context you can capture but also more features to generate, so be careful not to break your memory.

### N-Grams create document term matrix
- columns represent all columns of adjacent words of length n
- cells represent count
Example : "i am studying nlp"
| Character  | function | sentences |
| ------------- | ------------- | -------- |
|bigram |  ["i am"  ,  "am studying"  ,   "studying nlp"] |  3 sentences |
|trigram |  ["i am studying" , "am studying nlp"]|  2 sentences |
|4-gram  |  ["i am studying nlp"]|  1 sentences |

### BiGram only

In [98]:
vectorizer_bigram = CountVectorizer(ngram_range=(2,2))
texts = ["this is a sentence is a sentence", "this is another sentence", "third document is here"]

In [100]:
vectorizer_bigram.fit(texts)
x = vectorizer_bigram.transform(texts)
columns = vectorizer_bigram.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=texts)

,another sentence,document is,is another,is here,is sentence,sentence is,third document,this is
this is a sentence is a sentence,0,0,0,0,2,1,0,1
this is another sentence,1,0,1,0,0,0,0,1
third document is here,0,1,0,1,0,0,1,0

### TriGram only

In [102]:
vectorizer_trigram = CountVectorizer(ngram_range=(3,3))
vectorizer_trigram.fit(texts)
x = vectorizer_trigram.transform(texts)
columns = vectorizer_trigram.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=texts)

,document is here,is another sentence,is sentence is,sentence is sentence,third document is,this is another,this is sentence
this is a sentence is a sentence,0,0,1,1,0,0,1
this is another sentence,0,1,0,0,0,1,0
third document is here,1,0,0,0,1,0,0

## mean bigram and trigram

In [104]:
vectorizer = CountVectorizer(ngram_range=(2,3)) 
vectorizer.fit(texts)
x = vectorizer.transform(texts)
columns = vectorizer.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=texts)

,another sentence,document is,document is here,is another,is another sentence,is here,is sentence,is sentence is,sentence is,sentence is sentence,third document,third document is,this is,this is another,this is sentence
this is a sentence is a sentence,0,0,0,0,0,0,2,1,1,1,0,0,1,0,1
this is another sentence,1,0,0,1,1,0,0,0,0,0,0,0,1,1,0
third document is here,0,1,1,0,0,1,0,0,0,0,1,1,0,0,0

# Task 2 :
- What shape(x,y) will the data frame be created in?  **try it with bigram and trigram**..

In [70]:
texts = [ 'the red dog',
         'cat eats dog',
         'dog eats food',
         'red cat eats',
         'the hot dog']

In [72]:
vectorizer_bigram.fit(texts)
x = vectorizer_bigram.transform(texts)
columns = vectorizer_bigram.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=texts)

,cat eats,dog eats,eats dog,eats food,hot dog,red cat,red dog,the hot,the red
the red dog,0,0,0,0,0,0,1,0,1
cat eats dog,1,0,1,0,0,0,0,0,0
dog eats food,0,1,0,1,0,0,0,0,0
red cat eats,1,0,0,0,0,1,0,0,0
the hot dog,0,0,0,0,1,0,0,1,0

In [74]:
vectorizer_trigram = CountVectorizer(ngram_range=(3,3))
vectorizer_trigram.fit(texts)
x = vectorizer_trigram.transform(texts)
columns = vectorizer_trigram.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=texts)

,cat eats dog,dog eats food,red cat eats,the hot dog,the red dog
the red dog,0,0,0,0,1
cat eats dog,1,0,0,0,0
dog eats food,0,1,0,0,0
red cat eats,0,0,1,0,0
the hot dog,0,0,0,1,0

### Hint : X.todense() converts the sparse matrix to a dense array ??

<a id='TF-IDF Vectorization'></a>
# 3- TF-IDF Vecorization
- Instead of just counting the frequency of each word, each word here is weighted using TF-IDF

$$W_{x, y} = tf_{x, y} \times log(\frac{N}{df_x})$$

| Terms  | results  |
| ------------- | ------------- | 
|TF-IDF |create document term matrix|
|columns |  are individual unique words |  
|cells |  contain a weight which signifies how important a word is for an individual text message W(i,j) = TF(i,j) * log(N/DF(i)) | 
| N  | total number of documents  |  
|TF(i,j)  |number of times word i is occured in sentence j divided by total number of terms in sentence j |
|DF(i) |number of documents containing word i|
|j|"i am studying nlp"|
|TF(am,j)= 1/4 = 0.25 | occure only one time and the sentence has 4 words|
|N|200|
| DF(am) |2|
| W(am,j)| TF(am,j) * log(N/DF(am)) = 0.25 * log(200/2) = 0.5|

In [106]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ["this is a sentence is", "this is another sentence", "third document is here"]
'''
this is a sentence is
tf       this 1/3         is 2/3   sentence 1/3
idf      this 1.1249    is 1   sentence 1.1249
tf-idf   this 0.3749    is 2/3   sentence 0.374967
L2 = 0.8518
'''
tfidf_vec = TfidfVectorizer()
tfidf_vec.fit(corpus)
x = tfidf_vec.transform(corpus)
columns = tfidf_vec.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=corpus)

,another,document,here,is,sentence,third,this
this is a sentence is,0.000000,0.000000,0.000000,0.739411,0.476063,0.000000,0.476063
this is another sentence,0.631745,0.000000,0.000000,0.373119,0.480458,0.000000,0.480458
third document is here,0.000000,0.546454,0.546454,0.322745,0.000000,0.546454,0.000000

In [86]:
# fit transform directly
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ["this is a sentence is", "this is another sentence", "third document is here"]
tfidf_vec = TfidfVectorizer()
x = tfidf_vec.fit_transform(corpus)
columns = tfidf_vec.get_feature_names_out()
pd.DataFrame(x.toarray(), columns=columns, index=corpus)

,another,document,here,is,sentence,third,this
this is a sentence is,0.000000,0.000000,0.000000,0.739411,0.476063,0.000000,0.476063
this is another sentence,0.631745,0.000000,0.000000,0.373119,0.480458,0.000000,0.480458
third document is here,0.000000,0.546454,0.546454,0.322745,0.000000,0.546454,0.000000